<div class="main-frame">
    <div class="d-flex flex-row primary">
    
    <img id="logo" src="../assets/images.jpeg"/>
    <h4 class="name_of_application">Vidyalay</h4>
    
<!-- ngIf="loggedIn" -->
    <div class="d-flex" style="margin-left:auto">
        <!-- ngIf="role=='Admin'" -->
        <div class="d-flex flex-row">
        <h4 class="nav-option">Home</h4>
        <h4 class="nav-option">Applications</h4>
        <h4 class="nav-option">Teachers</h4>
        <h4 class="nav-option">Students</h4>
        <h4 class="nav-option">Management</h4>
        <h4 class="nav-option">Logout</h4>
        </div>
    </div>
</div>

</div>